@use "src/styles/vars" as *;

.main {
  border-radius: 100px;
  border: none;
  background-color: transparent;
  color: currentColor;
  text-align: center;

  transform: scale(1);
  transition: transform 100ms ease-in-out;

  font-weight: 400;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  @include large {
    border-width: 2px;
  }

  // Variant
  &[data-variant="primary"] {
    color: $primary;
    background-color: $text;

    &:focus {
      outline: none;
      background-color: $accent;
    }
  }

  &[data-variant="secondary"] {
    color: $text;
    background-color: transparent;
    border: 1px solid currentColor;

    @include large {
      border-width: 2px;
    }

    &:focus {
      outline: none;
      color: $accent;
    }
  }

  // Size
  @include componentSizes;

  &:hover:not(:active) {
    transform: scale(1.05);
  }
}
