@use "@styles/abstracts" as *;
@use "@styles/component" as component;

.main {
  @include component.baseComponent;
  @include component.componentSizes;

  border-radius: 100vmin;
  border: none;

  background-color: transparent;
  color: currentColor;

  text-align: center;
  font-weight: 400;
  white-space: nowrap;

  transform: scale(1);
  transition: transform 100ms ease-in-out;

  &:hover:not(:active) {
    transform: scale(1.05);
  }
}

// Variants

.main[data-variant="primary"] {
  color: $primary;
  background-color: $text;

  &:focus-visible,
  &:hover {
    outline: none;
    background-color: $accent;
  }
}

.main[data-variant="secondary"] {
  color: $text;
  background-color: transparent;
  border: 1px solid currentColor;

  &:focus-visible,
  &:hover {
    outline: none;
    color: $accent;
  }
}
