@use "src/styles/vars" as *;

.main {
  border-radius: 100px;
  border: none;
  background-color: transparent;
  color: currentColor;

  padding: 6px 20px;

  transform: scale(1);
  transition: transform 100ms ease-in-out;

  &[data-variant="primary"] {
    background-color: $text;
    color: $primary;

    &:focus {
      outline: none;
      background-color: $accent;
    }
  }

  &[data-variant="secondary"] {
    background-color: transparent;
    color: $text;
    border: 1px solid currentColor;

    &:focus {
      outline: none;
      border-color: $accent;
    }
  }

  &:hover:not(:active) {
    transform: scale(1.05);
  }
}
