@use "@styles/abstracts" as *;

.main {
  display: flex;
  gap: 5px;
  &:hover {
    color: $textLight;
  }
}

.label {
  @include noselect();
}

.input {
  background-color: transparent;
  color: currentColor;

  border: none;
  border-bottom: 1px solid currentColor;

  &:focus-visible {
    outline: none;
  }
}
