@use "@styles/abstracts" as *;
@use "src/styles/input" as *;
$size: 20px;

.main {
    display: flex;
    gap: 5px;
    &:hover {
        color: $textLight;
    }
}

.label {
    @include noselect();
}

.input {
    background-color: transparent;
    color: currentColor;
    border: none;
    border-bottom: 1px solid currentColor;

    &:focus-visible {
        outline: none;
    }
}
