@use "@styles/abstracts" as *;
@use "@styles/component" as component;

$height: 1.5rem;
$thumb: calc($height * 0.8);
$width: calc($height * 1.8);
$offset: calc($height * 0.12);

.main {
  border: none;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 1rem;

  color: $text;

  @include noselect();

  &:disabled * {
    cursor: not-allowed !important;
    color: $textDark;
  }

  &:focus-within {
    color: $accent;
  }
}

.label {
  cursor: pointer;
}

.root {
  all: unset;
  position: relative;

  width: $width;
  height: $height;

  background-color: transparent;

  border-radius: 100vmin;
  outline: 1px solid currentColor;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.root:focus {
  box-shadow: 0 0 0 2px black;
}

.thumb {
  display: block;

  width: $thumb;
  height: $thumb;

  border-radius: 100vmin;
  outline: 1px solid currentColor;

  transition: transform 100ms;
  transform: translateX($offset);

  will-change: transform;
}

.thumb[data-state="checked"] {
  transform: translateX($width - $thumb - $offset);
  background-color: currentColor;
  outline: none;
}
