@use "@styles/abstracts" as *;

.main {
  color: $text;
  background-color: transparent;

  border: 1px solid currentColor;
  border-radius: 9px;

  width: 100%;

  @include large {
    border-width: 2px;
  }

  // Size
  @include componentSizes;

  padding-left: 10px !important;

  &:focus {
    outline: none;
    color: $accent;
  }
}
