@use "@styles/abstracts" as *;
@use "@styles/component" as component;

.wrapper {
  @include component.componentSizes;
}

.main {
  @include component.baseComponent;

  color: $text;
  background-color: transparent;

  border: 1px solid currentColor;
  border-radius: $borderRadius;

  font-size: 1em;

  padding-left: 0.7em;

  &:focus-visible,
  &:hover {
    outline: none;
    color: $accent;
  }
}
