@use "styles/vars" as *;
@use "styles/input" as *;
$size: 20px;

.main {
    display: flex;
    gap: 5px;
    &:hover {
        color: $textHover;
    }
}

.label {
    @include noselect();
}

.input {
    background-color: transparent;
    color: currentColor;
    border: none;
    border-bottom: 1px solid currentColor;

    &:focus-visible {
        outline: none;
    }
}
