.main {
  grid-area: main;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameList {
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
