@use "src/styles/vars" as *;

@mixin primaryButton {
    border: none;
    border-radius: 10px;

    margin: 5px;
    padding: 10px;

    font: inherit;
    font-weight: normal;

    background-color: $text;
    color: $primary;

    transform: scale(1);
    transition: transform 100ms ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: $textHover;
    }

    &:active {
        transform: scale(0.9);
    }
}

@mixin secondaryButton {
    @include primaryButton();

    background-color: transparent;
    color: $text;
    border: 1px $text solid;

    &:hover {
        transform: scale(1.1);
        background-color: transparent;
        color: $textHover;
        border: 1px $textHover solid;
    }
}
