@use "src/styles/vars" as *;

@mixin textInput {
    border: none;
    border-bottom: 2px $text solid;
    margin: 5px;

    font: inherit;
    padding: 10px;
    font-weight: normal;

    background-color: transparent;
    color: $text;

    text-align: center;

    &:hover,
    &:active {
        border-bottom: 2px $textHover solid;
    }

    &:focus-visible {
        outline: none;
    }
}
