$dark-theme: false !default;
$font: "raleway", Helvetica, sans-serif;

// Colors
$text: #d9c193 !default;
$textHover: #a69371 !default;
$textDark: #73654c !default;
$accent: #dfaf55 !default;
$primary: #0b0b0b !default;

// Z index
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin componentSizes() {
  &[data-size="sm"] {
    font-size: 0.8125rem;
    padding: 4px 10px;
    border-width: 1px;
  }

  &[data-size="md"] {
    font-size: 0.875rem;
    padding: 6px 16px;
  }

  &[data-size="lg"] {
    font-size: 0.9375rem;
    padding: 8px 22px;
  }
}

// MEDIA QUERIES ########################################

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin small {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin medium {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin large {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin extraLarge {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin minWidth($screen) {
  @media (min-width: ($screen + "px")) {
    @content;
  }
}

@mixin divider() {
  height: 2px;
  background-color: $text;
  width: 100%;

  align-self: center;
}
