@use "src/styles/vars" as *;

.tr {
    @include noselect();

    &:hover {
        cursor: pointer;
    }

    &[data-selected="true"] {
        background-color: $text;
        color: $primary;
    }

    & * {
        font-weight: 400;
    }
}
