@use "styles/vars" as *;

.main {
    border: 1px $text solid;
    border-radius: 15px;

    padding: 20px;

    width: 400px;
    height: 230px;

    text-align: center;

    transform: scale(1);
    transition: transform 100ms ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }

    & > h1 {
        font-weight: 400;
    }
}
@media (min-width: 481px) and (max-width: 1024px), (max-width: 480px) {
    .main {
        min-width: 200px;
        width: 100%;
        max-width: 400px;
        height: 200px;
    }
}
