@use "styles/vars" as *;

.main {
    overflow-y: auto;
    height: 300px;
}

.header tr th {
    position: sticky;
    top: 0;

    background-color: $primary;
    border-bottom: 1px solid currentColor;

    padding: 10px 0;
}

.footer tr th {
    position: sticky;
    bottom: 0;

    background-color: $primary;
    border-top: 1px solid currentColor;

    padding: 10px 0;
}

.table {
    border-collapse: collapse;

    & * {
        text-align: left;
    }
}

.body tr th {
    padding: 5px 0;
    padding-right: 30px;
}
