@use "@styles/abstracts" as *;

.main {
  margin-top: -20vh;
  grid-area: main;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;

  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  flex-direction: column;

  @include large {
    width: 20vw;
    min-width: 350px;
  }

  & .divider {
    width: 70%;
  }
}

.divider {
  @include divider();
}

.title {
  font-weight: 300;
  margin: 6px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0;

  & > .divider {
    height: 1px;
    width: 90%;
  }

  & .joinGame {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    padding: 0;
    gap: 10px;

    @include large {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}
