@use "src/styles/vars" as *;

.main {
  margin-top: -20vh;
  grid-area: main;
  width: 100%;
  padding: 0 20px;

  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  flex-direction: column;

  @include large {
    width: 20vw;
  }

  & hr {
    width: 70%;
    border: none;
    border-top: 2px solid $text;
  }
}

.title {
  font-weight: 300;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  padding: 20px 0;

  @include large {
    width: 80%;
  }

  & hr {
    border-width: 1px;
    width: 90%;
  }

  & .joinGame {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    padding: 0;
    gap: 10px;
  }
}
