@use "styles/player" as *;
@use "styles/vars" as *;

.main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    gap: 20px;

    max-height: 100vh;
    overflow-y: auto;

    height: 100%;
    width: min-content;

    padding: 20px 40px;
    overflow-y: auto;

    & svg,
    .playerButton {
        font-size: 3em;
        max-width: 96px;
        max-height: 96px;
    }
}

.playerButton {
    @include circle();

    font-size: 5em;
    letter-spacing: normal;
    font-weight: 100;
}

@media (min-width: 481px) and (max-width: 1024px), (max-width: 480px) {
    .main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        gap: 20px;

        width: 100%;
        overflow-x: auto;

        & svg,
        .playerButton {
            font-size: 3em;
            max-width: 64px;
            max-height: 64px;
        }
    }
}
