@use "styles/button" as *;
@use "styles/vars" as *;

.currentCardContainer {
    grid-area: main;
    @include noselect();

    width: 100%;
    height: 100%;
    padding: 50px 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > button {
        @include primaryButton();
    }

    & > article {
        width: 100%;
        height: 100%;
    }
}

.players,
.activeCards {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "top" "main" "bottom";

    max-height: 100vh;
    width: 300px;
}

.players {
    grid-area: players;
}

.activeCards {
    grid-area: activeCards;
    padding: 0 20px;
}

.addPlayer {
    grid-area: space1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;

    & button {
        @include primaryButton();
    }
}

@media (min-width: 481px) and (max-width: 1024px), (max-width: 480px) {
    .activeCards,
    .players {
        width: 100%;
        display: block;
        padding: 0 20px;
    }

    .currentCardContainer {
        padding: 20px;
        & > article {
            width: 100%;
            height: 30vh;
        }
    }

    .addPlayer {
        display: none;
    }
}
