@use "styles/button" as *;
@use "styles/input" as *;

.main {
    grid-area: main;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 800px;
    padding: 20px;
    height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 20px;
}

.addPlayerButton {
    @include primaryButton();
}

.startGameButton {
    @include secondaryButton();
}
