@use "styles/button" as *;
@use "styles/input" as *;

.main {
    grid-area: main;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 35vh 60px auto;
    grid-template-columns: 1fr;
    grid-template-areas: "players" "startGame" "addPlayer";
    justify-items: center;

    gap: 20px;
}
.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 800px;
    padding: 20px;
    height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 20px;
}

.addPlayerButton {
    @include primaryButton();
}

.startGameButton {
    grid-area: startGame;
    @include secondaryButton();
}
