@use "styles/vars" as *;
@use "styles/button" as *;

.main {
    grid-area: main;
    display: grid;
    height: fit-content;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px min-content;
    row-gap: 20px;
    grid-template-areas:
        "settings addons"
        "button button";
}

.settings,
.addons {
    height: 100%;
    width: 100%;
    padding: 30px;

    display: flex;
    flex-direction: column;

    & > h2 {
        font-weight: 400;
    }
}

.settings {
    grid-area: settings;
    border-right: 1px $text solid;
    align-items: flex-end;

    & > fieldset {
        border: none;
        outline: none;

        & > label {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.addons {
    grid-area: addons;
    align-items: flex-start;
}

.button {
    grid-area: button;
    display: flex;
    justify-content: center;

    & > button {
        @include primaryButton;
    }

    width: 100%;
}

@media (min-width: 481px) and (max-width: 1024px), (max-width: 480px) {
    .main {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    .settings,
    .addons {
        padding: 0 10px;
        align-items: center;
    }
}
