@use "src/styles/vars" as *;

.main {
  width: 100%;

  display: grid;
  grid-template-columns: 10px 96px 1fr;
  grid-template-rows: 48px 48px;
  gap: 5px;
  grid-template-areas:
    ". avatar title"
    ". avatar description";
}

.avatar {
  grid-area: avatar;

  width: 96px;
  height: 96px;

  border: 1px solid currentColor;
  border-radius: 100%;

  padding: 0;
  margin: 0;

  background-color: $primary;
  overflow: hidden;

  z-index: 10;
}

.title {
  grid-area: title;
  font-weight: 300;
}

.description {
  grid-area: description;
  margin-left: -8px;
}

.line {
  width: 100%;
  border: none;
  border-top: 2px solid $text;

  grid-column: 1 / 4;
  grid-row: 2;
}
