.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 20px;

  & > hr {
    width: 70vw;
    border: none;
    border-top: 1px solid currentColor;
  }
}

.horizontalList {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.addons {
  display: flex;
  flex-direction: column;
  gap: 15px;

  height: 50vh;
  overflow: scroll;

  position: relative;
}
