@use "src/styles/button" as *;
@use "src/styles/input" as *;
@use "src/styles/vars" as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.avatars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    padding: 20px;
    max-width: 30vw;

    border: 1px solid currentColor;
    border-radius: 10px;

    & > * {
        width: 64px;
        height: 64px;
    }

    & > .avatar {
        transform: scale(1);
        transition: transform 100ms ease-in-out;

        &[data-is_used="true"] {
            color: $textDark;
            transform: scale(0.9);

            &:hover {
                transform: scale(0.95);
            }
        }

        &[data-is_selected="true"] {
            color: gold;
            transform: scale(1.1);

            &:hover {
                transform: scale(1.15);
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

.form {
    display: grid;
    grid-template-columns: 240px 96px 240px;
    grid-template-rows: 96px;
    gap: 20px;
    justify-content: center;
    align-items: center;

    & > .inputFields {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;

        & .addPlayerButton {
            @include secondaryButton();
        }

        & input {
            @include textInput();
        }

        & > * {
            width: 100%;
        }
    }
}

// Current avatar
.selectedAvatar {
    width: 96px;
    height: 96px;
    margin: 0;
    padding: 0;
}

.avatarInfo {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    align-items: center;

    & * {
        margin: 2px;
    }
}

@media (min-width: 481px) and (max-width: 1024px), (max-width: 480px) {
    .form {
        grid-template-columns: 1fr 64px auto;
        grid-template-rows: 64px;
    }

    .avatarInfo {
        display: none;
    }

    .avatars {
        display: none;
    }
}
