@use "src/styles/vars" as *;
@use "src/styles/player" as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 96px;
    height: fit-content;
    color: $text;

    transition: color 250ms ease-in-out;

    &[data-active="true"] {
        color: gold;
    }

    &:hover[data-canremove="true"] {
        cursor: pointer;
        * {
            color: $disabled;
        }

        & .avatar {
            display: none;
        }

        & .removeButton {
            display: flex;
        }
    }
}

.avatar {
    @include circle();
}

.removeButton {
    @include circle();
    display: none;
    width: 96px;
    height: 96px;

    font-size: 32px;
    background-color: transparent;
}

.name {
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0;
}

@media (max-width: 640px) {
    .main {
        width: 64px;
    }
}
