.main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 200px);
    row-gap: 20px;

    overflow-y: auto;

    & > article {
        height: 200px;
    }
}

@media (min-width: 481px) and (max-width: 1024px), (max-width: 480px)  {
    .main {
        grid-template-columns: repeat(auto-fit, auto);
        grid-auto-flow: column;

        row-gap: 0;
        column-gap: 20px;

        overflow-x: auto;
        overflow-y: hidden;

        width: 100%;

        & > article {
            width: 280px;
            height: 150px;
        }
    }
}
