$dark-theme: false !default;
$font: "raleway", Helvetica, sans-serif;

$text: #d9c193 !default;
$textHover: #b3a89b !default;
$textDark: #766139 !default;
$accent: gold;
$disabled: #903636 !default;
$primary: #0b0b0b !default;

@if $dark-theme {
    $text: #161616;
    $textHover: #343434;
    $textDark: rgb(80, 80, 80);

    $primary: #d9c193;
}

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
