@use "src/styles/vars" as *;

.frame {
  display: grid;
  grid-template-columns: auto 1fr 200px 1fr auto;
  grid-template-rows: 200px 1fr 150px;
  grid-template-areas:
    "players title title title activeCards"
    "players main main main activeCards"
    "players space1 logo space2 activeCards";

  row-gap: 20px;
  width: 100%;
  min-height: 100vh;
}

// TODO make subtitle and title always appear in same place?
.title {
  grid-area: title;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    margin: 0;
  }

  & > h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: 200;
    font-size: 96px;
    text-transform: capitalize;
  }
}
@media (min-width: 481px) and (max-width: 1024px), (max-width: 480px) {
  .frame {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: min-content min-content auto min-content 70px;
    grid-template-areas:
      "title title title"
      "players players players"
      "main main main"
      "activeCards activeCards activeCards"
      "space1 logo space2";

    width: 100%;
    height: 100vh;
    overflow-y: auto;
    row-gap: 5px;
  }

  .title {
    padding: 30px 0;
    & > h1 {
      margin: 0;
      font-size: 2.2em;
    }
  }
}
