@use "src/styles/vars" as *;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logo;

    & svg {
        height: 100%;
        padding: 10px;
        transform: scale(1);
        transition: transform 100ms ease-in-out;

        &:hover {
            transform: scale(1.1);

            & > * {
                stroke: $textHover;
            }
        }

        &:active {
            transform: scale(0.95);
        }

        > * {
            transform-origin: center;
            stroke-width: 1px;
            stroke: $text;
            fill: none;
        }
    }
}
